<h1>Solução:</h1><br>
<h3>
  <!-- Monta e exibe a Equação do 2o Grau -->
  (<%= @bhaskara.a %>)x<sup>2</sup>+(<%= @bhaskara.b %>)x+(<%= @bhaskara.c %>)=0
</h3>

<table border="0" style="width: 400px">
  <tbody>
    <tr>
      <td>x<sub>1</sub> = </td>
      <!-- Exibe a raiz x1 -->
      <td><%= x1() %></td>
    </tr>
    <tr>
      <td>x<sub>2</sub> = </td>
      <!-- Exibe a raiz x2 -->
      <td><%= x2() %></td>
    </tr>
  </tbody>
</table>
<br><hr>
Copyright (C) 2016, <i><b>Ludenir Santos</b></i>...   <i>Powered by <b>Ruby on Rails</b>.</i>
